.matrix h2,
.matrix ul li{
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}


.matrix{
    margin: 10rem auto;
    width: 1180px;
}

.matrix .m-wrapper{
    display: flex;
    flex-wrap: nowrap;
    gap: 8rem;
}

.matrix .m-wrapper .item{
    width: 45%;
}

.matrix h2{
    font-size: 1rem;
}

.matrix .quater{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.matrix .quater::before{
    content: "";
    position: absolute;
    height: 70%;
    width: 1px;
    background: #fff;
    left:50%;
    top: 50%;
    border-left: 1px solid #000;
    transform: translate(-50%, -50%);
}
.matrix .quater::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    background: #fff;
    border-top: 1px solid #000;
    transform: translateY(-50%);
}

.matrix .quater .q-list{
    width: 50%;
    height: 250px;
}

.matrix ul li{
    font-size: 11px;
    list-style: none;
}

.matrix ul li::before{
    content: "● ";
}

.matrix ul li>span {
    font-family: Calibri;
}

.matrix .quater .q-list::after,
.matrix .quater .q-list::before{
    text-align: center;
    white-space: pre;
    position: absolute;
    font-family: 游ゴシック;
    font-size: 0.8rem
}


.matrix .quater .q-list:nth-child(1)::before{
    content: "金利 \A(高)";
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
}

.matrix .quater .q-list:nth-child(1)::after {
    content: "金利 \A（低）";
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
}


.matrix .quater .q-list:nth-child(2)::before {
    content: "LTV \A（低）";
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
}

.matrix .quater .q-list:nth-child(2)::after {
    content: "LTV \A（低）";
    top: 50%;
    transform: translateY(-50%);
    right: -40px;    
}


.matrix .quater .q-list .q-list-wrapper{
    position: relative;   
}

.matrix .quater .q{
    position: absolute;
}

.matrix .quater .q1 .li1{
    bottom: 30%;
    left: 40px;
}

.matrix .quater .q1 .li2 {
    top: 0px;
    right: -83px;
}

.matrix .quater .q1 .li3 {
    top: 50px;
    right: -50px;
}

.matrix .quater .q1 .li4 {
    bottom: 45px;
    right: -60px;
}



