/* * {
    box-sizing: border-box;
}
 */
/*------ Financial f-matrix ------*/

main.financial {

    
    /* margin: 5rem auto;   -> all the section comes to center     */
    width: 100%;
    /* max-width: 1600px; -> with adjust according the screen size  */
}

.bnk-name ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2rem;
}



.chart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10rem;
    padding: 3rem;
}

.chart .item {
    width: 50%;
}

.chart h2 {
    font-size: 16px;
    margin: 0;
    font-family: 游ゴシック;
}


.f-matrix {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 1px 45%;
    grid-template-columns: 45% 45%;
    gap: 1px;
    position: relative;
}

.f-matrix::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #fff;
    border-top: 1px solid #000;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.f-matrix::after {
    content: "";
    position: absolute;
    height: 90%;
    width: 1px;
    background: #fff;
    border-left: 1px solid #000;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.f-matrix .row {
    height: 12rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    white-space: pre;
}

.f-matrix .row::after {
    position: absolute;
    text-align: center;
    font-size: 11px;
    line-height: 1rem;
    font-family: 游ゴシック;
    font-weight: 500;
}

/* ------ First graph axis name ------- */

.f-matrix .row:nth-child(1)::after {
    content: "金利 \A(高)";
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -30px;
}

.f-matrix .row:nth-child(2)::after {
    content: "金利 \A（低）";
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -30px;
}

.f-matrix .row:nth-child(3)::after {
    content: "LTV \A（低）";
    top: 50%;
    left: -40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.f-matrix .row:nth-child(4)::after {
    content: "LTV \A(高)";
    top: 50%;
    right: -40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* ------End First graph axis name */

.f-matrix .row .column {
    height: 12rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.f-matrix .row .column ul li {
    list-style: none;
    font-size: 11px;
    font-family: 游ゴシック;
    font-weight: 500;
}

.f-matrix .row .column ul li>span {
    font-family: Calibri;
}

.f-matrix .row .column ul li::before {
    content: "●";
    font-size: 0.65rem;
    vertical-align: middle;
}

.f-matrix .row .column .q2 {
    position: absolute;
}

.f-matrix .row .column .b0 {
    left: 30%;
    top: 80px;
}

.f-matrix .row .column .b1 {
    top: 0px;
    right: -130px;
}

.f-matrix .row .column .b2 {
    top: 50px;
    right: -108px;
}

.f-matrix .row .column .b3 {
    top: 133px;
    right: -110px;
}

.f-matrix .row .column .bt4 {
    top: -59px;
    right: 15px;
}

.f-matrix .row .column .bt5 {
    top: -58px;
    right: -80px;
}

.f-matrix .row .column .bt6 {
    top: -61px;
    right: -170px;
}


.f-matrix .row .column .q3 {
    position: absolute;
    left: 12%
}

.f-matrix .row .column .b4 {
    top: 33%
}

.f-matrix .row .column .b5 {
    top: 60%
}



/*------ second graph axis name----- */
.chart .item:nth-child(2) .f-matrix .row:nth-child(1)::after {
    content: "金利 \A(高)";
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -30px;

}

.chart .item:nth-child(2) .f-matrix .row:nth-child(2)::after {
    content: "金利 \A（低）";
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -30px;
}

.chart .item:nth-child(2) .f-matrix .row:nth-child(3)::after {
    content: "期間 \A（短）";
    top: 50%;
    left: -40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.chart .item:nth-child(2) .f-matrix .row:nth-child(4)::after {
    content: "期間 \A（長）";
    top: 50%;
    right: -40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*------ End Financial f-matrix axis name------ */
