/*------ Financial f-matrix ------*/
.final-matrix{
    margin: 4rem auto;
}
.financial {
    width: 90%;
    margin:0 auto;
}

.bnk-name ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2rem;
}

.chart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 9rem;
    padding: 10px;
}

.chart .item {
    width: 50%;
    position: relative;
}

.chart h2 {
    font-size: 16pt;
    margin: 0;
    font-family: 游ゴシック;
    position: absolute;
    top: -10px;
    left: 10px;
}


.f-matrix {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    gap: 1px;
    position: relative;
}

.f-matrix::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #fff;
    border-top: 1px solid #000;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.f-matrix::after {
    content: "";
    position: absolute;
    height: 90%;
    width: 1px;
    background: #fff;
    border-left: 1px solid #000;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.f-matrix .row {
    height: 17rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    white-space: pre;
    cursor: pointer;
}

.f-matrix .row::after {
    position: absolute;
    text-align: center;
    font-size: 11pt;
    font-family: 游ゴシック;
    font-weight: 500;
}

/* ------ First graph axis name ------- */

.f-matrix .row:nth-child(1)::after {
    content: "金利 \A(高)";
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -25px;
}

.f-matrix .row:nth-child(2)::after {
    content: "金利 \A（低）";
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -25px;
}

.f-matrix .row:nth-child(3)::after {
    content: "LTV \A（低）";
    top: 50%;
    left: -35px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.f-matrix .row:nth-child(4)::after {
    content: "LTV \A(高)";
    top: 50%;
    right: -35px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* ------End First graph axis name */

.f-matrix .row .column {
    height: 12rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.f-matrix .row .column ul li {
    list-style: none;
    font-size: 11pt;
    font-family: 游ゴシック;
    font-weight: 500;
}

.f-matrix .row .column ul li>span {
    font-family: Calibri;
}

.f-matrix .row .column li {
    position: absolute;
}


.chart h2 {
    font-size: 0.8rem;
}

.f-matrix .row {
    height: 12rem;
}

.f-matrix .row::after {
    font-size: 0.6rem;
}

.f-matrix .row .column ul li {
    font-size: 0.6rem;
}

.f-matrix .row .column ul li::before {
    font-size: 0.6rem;
}


/* ---List of banks----- */
.f-matrix .row .column li:nth-child(1) {
    left: 10%;
    top: 20%
}

.f-matrix .row .column li:nth-child(2) {
    left: 50%;
    top: 20%
}

.f-matrix .row .column li:nth-child(3) {
    left: 25%;
    bottom: 10%
}




/*------ second graph axis name----- */
.chart .item:nth-child(2) .f-matrix .row:nth-child(1)::after {
    content: "金利 \A(高)";
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -25px;

}

.chart .item:nth-child(2) .f-matrix .row:nth-child(2)::after {
    content: "金利 \A（低）";
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -25px;
}

.chart .item:nth-child(2) .f-matrix .row:nth-child(3)::after {
    content: "期間 \A（短）";
    top: 50%;
    left: -38px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.chart .item:nth-child(2) .f-matrix .row:nth-child(4)::after {
    content: "期間 \A（長）";
    top: 50%;
    right: -38px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*------ End Financial f-matrix axis name------ */




/*############ Screen 2 ########### */
#screen2 {
    display: none;
}

#screen2 .hidden-screen {
    width: 90%;
    position: relative;
    margin: 0 auto;
}
#screen2 .hidden-screen::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.01px;
    background-color: #000;
    border-top: 0.5px solid #000;
    top: 50%;
    transform: translateY(-50%);
}

#screen2 .hidden-screen::after {
    position: absolute;
    content: "";
    width: 0.01px;
    height: 100%;
    background-color: #000;
    border-left: 0.5px solid #000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



#screen2 .em-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.05rem;
    border: 1px solid rgb(128, 128, 128);
}

#screen2 .em-wrapper .btn-item {
    display: flex;
    justify-content: center;
    align-items: last baseline;
    background-color: #fff;
    height: 40vh;
}

#screen2 .btn-item span {
    font-weight: 800;
}

#screen2 .btn-item span,
#screen2 button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    font-size: clamp(1.8rem, 2vw + 0.75rem, 2.6rem);
}

#screen2 .btn-item .bankName {
    font-size: clamp(.6rem, 2vw + 0.75rem, 1rem);
    font-weight: 500;
    line-height: 1.2rem;
}


#screen2 .btn-item {
    cursor: unset;
    position: relative;
}

#screen2 .btn-item .bankName {
    position: absolute;
}

#screen2 .btn-item:first-child .bankName {
    top: 20%;
    left: 25%;
}

#screen2 .btn-item:nth-child(2) .bankName {
    top: 40%;
    left: 40%;
}

#screen2 .btn-item:nth-child(3) .bankName {
    top: 12%;
    left: 53%;
}

/* ---center middle Button-- */
#screen2 button {
    height: 22vh;
    width: 22vh;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 100;
    background-color: #fff;
    border: 2px solid #000;
    font-weight: 400;
}

/* ----End Center Middle Button----- */

/*############ End Screen 2 ########### */



/* ---------- for larger screens ----------- */

@media (min-width: 1280px) {
    main.financial {
        max-width: 1240px;
    }  
}

@media (min-width: 1440px) {
    
    main.financial {
        max-width: 90%;
    }

    .chart {
        gap: 11rem;
    }

    .chart h2 {
        font-size: 1.2rem;
    }

    /* ---axis--- */
    .chart .item:nth-child(1).f-matrix .row:nth-child(1)::after {
        top: -28px;
    }

    .chart .item:nth-child(1).f-matrix .row:nth-child(2)::after {
        bottom: -28px;
    }

    .chart .item:nth-child(1).f-matrix .row:nth-child(3)::after {
        left: -40px;
    }

    .chart .item:nth-child(1).f-matrix .row:nth-child(4)::after {
        right: -40px;
    }
    /* ---End Axis--- */
    .f-matrix .row {
        height: 17rem;
    }

    .f-matrix .row::after {
        font-size: 0.8rem
    }

    .f-matrix .row .column ul li {
        font-size: 0.8rem;
    }

    .f-matrix .row .column ul li::before {
        font-size: 0.rem;
    }

    /* ---List of banks----- */
    .f-matrix .row .column .b0 {
        left: 5.56rem;
        top: 9.56rem;
    }

    .f-matrix .row .column .b1 {
        top: 1.25rem;
        right: -10rem;
    }

    .f-matrix .row .column .b2 {
        top: 5.438rem;
        right: -8.55rem;
    }

    .f-matrix .row .column .b3 {
        top: 12.375rem;
        right: -8.57rem;
    }

    .f-matrix .row .column .bt4 {
        top: -3.3rem;
        right: 3.75rem;
    }

    .f-matrix .row .column .bt5 {
        top: -3.1rem;
        right: -80px;
    }

    .f-matrix .row .column .bt6 {
        top: -3.4rem;
        right: -13.37rem;
    }


    .f-matrix .row .column .b4 {
        top: 55%;
    }

    .f-matrix .row .column .b5 {
        top: 85%
    }

    
}

@media (min-width: 1920px) {
    main.financial {
        max-width: 1820px;
    }

    .chart {
        gap: 11rem;
    }

    .chart h2 {
        font-size: 1.2rem;
    }

    /* ---axis--- */
    .chart .item:nth-child(1).f-matrix .row:nth-child(1)::after{
        top: -28px;
    }

    .chart .item:nth-child(1).f-matrix .row:nth-child(2)::after {
        bottom: -28px;
    }

    .chart .item:nth-child(1).f-matrix .row:nth-child(3)::after {
        left: -40px;
    }

    .chart .item:nth-child(1).f-matrix .row:nth-child(4)::after {
        right: -40px;
    }
    /* ---End Axis--- */

    .f-matrix .row {
        height: 17rem;
    }

    .f-matrix .row::after {
        font-size: 0.8rem
    }

    .f-matrix .row .column ul li {
        font-size: 0.8rem;
    }

    .f-matrix .row .column ul li::before {
        font-size: 0.rem;
    }

    /* ---List of banks----- */
    .f-matrix .row .column .b0 {
        left: 5.56rem;
        top: 9.56rem;
    }

    .f-matrix .row .column .b1 {
        top: 1.25rem;
        right: -10rem;
    }

    .f-matrix .row .column .b2 {
        top: 5.438rem;
        right: -8.55rem;
    }

    .f-matrix .row .column .b3 {
        top: 12.375rem;
        right: -8.57rem;
    }

    .f-matrix .row .column .bt4 {
        top: -3.3rem;
        right: 3.75rem;
    }

    .f-matrix .row .column .bt5 {
        top: -3.1rem;
        right: -80px;
    }

    .f-matrix .row .column .bt6 {
        top: -3.4rem;
        right: -13.37rem;
    }


    .f-matrix .row .column .b4 {
        top: 55%;
    }

    .f-matrix .row .column .b5 {
        top: 85%
    }


}
